@font-face {
    font-family: 'Fira Sans Reg';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'Fira Sans Extra';
    src: url('../fonts/Fira_Sans/FiraSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Fira Semi';
    src: url('../fonts/Fira_Sans/FiraSans-SemiBold.ttf');
}


:root {
    --yellow-color: #FEC80B;
    --light-yellow-color: #ffe586;
}

h1 {
    margin: 0;
    font-family: 'Fira Sans Extra';
}

h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Fira Semi';
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Fira Sans Reg';
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.header__col1 {
    display: flex;
    justify-content: space-between;
}

.header__logo-text {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__col2 {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    padding: 9px 16px;
    font-size: 1.2rem;
    gap: 16px;
    border: none;
    background-color: var(--yellow-color);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: var(--light-yellow-color);
}

.header__icons-container {
    display: flex;
    gap: 8px;
}
