:root {
    --color-yellow: #fec80b;
    --container-size: 1351px;
    --color-low-black: #0000004a;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/Fira_Sans/FiraSans-SemiBold.ttf');
}

body {
    width: 100%;
    margin: 0;
    color: black;
    font-family: 'FiraSans';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FiraSans-Bold';
    margin: 0;
}

span {
    color: var(--color-low-black);
}

._container {
    max-width: var(--container-size);
    margin: 0 auto;
}


/* ----------HEADER COL1 BLOCK 1-------------- */

.header__container-block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-header {
    flex: 3 0 100px;
    display: flex;
}

.header__desc-text {
    flex: 4 0 10px;
    margin-right: 61px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header__phone-container {
    flex: 2 0 100px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo-hedaer__block1 {
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo-hedaer__block1::after {
    content: '';
    width: 30px;
    height: 2px;
    transform: rotate(-90deg);
    background-color: var(--color-yellow);
}

.logo-hedaer__block2 {
    max-width: 200px;
}

.desc-text__top>h4::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    clip-path: polygon(48% 100%, 0 0, 100% 0);
    background-color: var(--color-yellow);
    margin-left: 5px;
}

.phone-container__numbers {
    display: flex;
    flex-direction: column;
    align-items: end;
}

